.row{
  border:1px solid black;
  margin-bottom: -1px;
  width:100%;
  .label{
    display: inline-block;
    width: 50%;
    font-weight: 900;
  }
  .value{
    display: inline-block;
    width: 50%;
  }
}
